.dark-bg{
    background-color: #061A40;
}
.title-color{
    background: linear-gradient(264.75deg, #FE87FF 3.04%, #FD2BFF 23.86%, #C202D3 41.34%, #5E0FFF 68.89%, #1905DA 99.63%);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}